# Data
data/*.csv
*.csv

# Environment
__pycache__/
*.pyc
.venv/

data/*.txt
data/*.csv
!data/*.dvc

# DVC cache - NEVER push this
.dvc/cache
dvc-storage/

# Jupyter
.ipynb_checkpoints/

# DVC
.dvc/cache
.dvc/tmp

# OS
.DS_Store
Thumbs.db

# Large data files
data/*.txt
data/*.csv
!data/*.dvc

# DVC cache - NEVER push this
.dvc/cache
dvc-storage/
!data/insurance_data.csv.dvc

# DVC cache
.dvc/cache

