# Data
data/*.csv
*.csv

# Environment
__pycache__/
*.pyc
.venv/


# Jupyter
.ipynb_checkpoints/

# DVC
.dvc/cache
.dvc/tmp

# OS
.DS_Store
Thumbs.db

# Large data files
data/*.txt
data/*.zip
*.csv
!data/insurance_data.csv.dvc

# DVC cache
.dvc/cache

